*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

img,
picture,
video,
canvas,
svg {
  display: block;

  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  color: white;
  font-family: inter;
  background-color: black;
}

.container {
  width: 550px;
  margin-inline: auto;
}

.header-wrapper {
  height: 208px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(../images/bg-large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center 20%;
  padding-top: auto;
  display: flex;
}

header {
  display: flex;
  align-items: center;
  margin-left: 42px;
}

h1 {
  font-size: 40px;
}

#watchlist-link a {
  font-size: 14px;
  line-height: 20px;
  color: white;
  text-decoration: none;
  margin-left: 40px;
  cursor: pointer;
}

.movies-wrapper {
  background-color: white;
  min-height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#movies {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.add-some {
  display: flex;
}

#movie-text {
  color: rgb(183, 183, 183);
}

.add-some img {
  filter: invert(100%);
}

.add-some h3 {
  color: black;
}

.background-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  h2 {
    color: rgb(213, 211, 211);
  }

  .background-text {
    display: flex;

    img {
      filter: invert(100%);
    }

    h3 {
      color: black;
      margin-left: 10px;
    }
  }
}
